
<h1 id="nameGroup">{{name}} </h1>
<div>
    {{#each teams}}
        <p>{{this}} </p>
    {{/each}}
</div>
<hr>
<form   method="get">
    </br>  Numero de jogos:
    <input type="text" name="jogos"/>
    </br>
    <input type="submit" value="Procurar" />
</form>
<hr>
