
<form   method="get">
    </br>  Numero de jogos:
    <input type="text" name="jogos"/>
    </br>
    <input type="submit" value="Procurar" />
</form>

<div>
    <h2>{{groupName}} </h2>
    {{#each teams}}
        <p>{{this}} </p>
    {{/each}}

</div>