<tr>
    <td>
        <ul>
            {{#each cast }}
                <div> <a href={{person.url}}>{{person.name}}</a> </div>
                <img src={{person.image.medium}} style="width:150px;height:150px;" >

                <br>
            {{/each}}
        </ul>
    </td>

</tr>