<form method="post"  >

    <select name="group">
        {{#each groups as |group|}}
            <option>{{group}}</option>
        {{/each}}
    </select>
    <hr>
    <input type="radio" name="permission" value="accept"> accept <br>
    <input type="radio" name="permission" value="decline"> decline <br>
    <input type="submit" value="save"/>
</form>
