<form action="/" method="get">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
      <span class="input-group-btn">
        <input class="btn btn-default" type="submit"  value="GO">
      </span>
                <input type="text" class="form-control" name="q" placeholder="Search for...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </div>



        {{#each series }}
            <div class="panel panel-default">
                <div class="panel-heading">
                 <h5>   <a href=/serie/{{show.id}}> {{show.name}} </a></h5>
                </div>

                <div class="panel-body">
                    {{show.summary}}
                </div>
            </div>
        {{/each}}