<div class="container">

    <form class="form-signin" action="/recoverPassword" method="post">
        <h2 class="form-signin-heading">Recover password</h2>
        <h3>UserName</h3>
        <input type="text" name="userName" class="form-control" >
        <h3>Email address</h3>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="search">
    </form>

</div>


<h3> {{password}}</h3>