<div class="container">

    <form class="form-signin" action="/register" method="post">
        <h2 class="form-signin-heading"><u>Register</u></h2>
        <h3>UserName</h3>
        <input type="text" name="userName" class="form-control" >
        <h3>Email address</h3>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <h3>Password</h3>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="regist">
    </form>

</div>